@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary-color: #1F262A;
  --secondary-color: #5B676D;
  --accent-color: #C8C8C8;
  --bg-color: #EBEBEB;
}
@layer base{
  @font-face {
    font-family: "ARAPEY";
    src: url(../public/Arapey\ Regular.ttf);
  }
}

.navBtn{
  font-size: large;
}

.navBtn:hover{
  text-decoration: underline;
}

.contactBtn{
  outline: none;
  background-color: var(--bg-color);
  border: #1F262A 1px solid;
  border-radius: 2px;
  padding: 10px 20px;
  color: var(--secondary-color);
}

.contactBtn:focus{
  border: var(--primary-color) 1px solid;
  background-color: var(--bg-color);
  color: var(--primary-color);
}

.contactBtn:hover{
  color: var(--primary-color);
}

.primText{
  color: var(--primary-color);
}